In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import MultiLabelBinarizer, StandardScaler
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans
from mpl_toolkits.mplot3d import Axes3D

# --- 1. Load and preprocess dataset ---
df = pd.read_csv("/content/restaurants(in).csv")
df['category'] = df['category'].astype(str).str.split(',')

# Save original metadata
metadata_cols = ['name', 'score', 'ratings', 'full_address', 'lat', 'lng']
metadata = df[metadata_cols]

# Encode categories
mlb = MultiLabelBinarizer()
category_encoded = pd.DataFrame(mlb.fit_transform(df['category']), columns=mlb.classes_)

# Combine numerical + category features
df_features = pd.concat([df[['score', 'ratings', 'lat', 'lng']], category_encoded], axis=1)
df_features = df_features.dropna()

# Align metadata with clean feature set
metadata = metadata.loc[df_features.index].reset_index(drop=True)

# --- 2. Scale and PCA ---
scaler = StandardScaler()
scaled_features = scaler.fit_transform(df_features)

pca = PCA(n_components=0.95)
df_pca = pca.fit_transform(scaled_features)

# --- 3. Clustering ---
num_clusters = 7
random_seed = 30
kmeans = KMeans(n_clusters=num_clusters, random_state=random_seed)
clusters = kmeans.fit_predict(df_pca)

# Final combined DataFrame
df_with_categories = pd.concat([metadata, df_features.reset_index(drop=True), pd.DataFrame({'cluster': clusters})], axis=1)

# --- 4. Cluster Summary ---
category_columns = mlb.classes_
cluster_summary = df_with_categories.groupby('cluster')[category_columns].mean()
#print(  cluster_summary)

# Get top categories per cluster (for display
top_categories_per_cluster = cluster_summary.apply(lambda x: x.sort_values(ascending=False).index[:7], axis=1)
print("Top categories per cluster:\n", top_categories_per_cluster)

# --- 5. 3D Cluster Plot ---
"""fig = plt.figure(figsize=(10, 7))
ax = fig.add_subplot(111, projection='3d')
scatter = ax.scatter(df_pca[:, 0], df_pca[:, 1], df_pca[:, 2], c=clusters, cmap='viridis', s=50, alpha=0.7, edgecolors='k')
fig.colorbar(scatter, label="Cluster Labels")
ax.set_xlabel("PCA Component 1")
ax.set_ylabel("PCA Component 2")
ax.set_zlabel("PCA Component 3")
ax.set_title("3D Clusters of Food Preferences")
plt.show()"""

Top categories per cluster:
 cluster
0    Index([' Burritos', 'Mexican', ' Tacos', ' Sal...
1    Index([' Comfort Food', ' Dinner', ' salad', '...
2    Index(['American', ' American', ' Family Meals...
3    Index([' Sports Bar', ' Family Friendly', 'Ame...
4    Index([' Portuguese', ' Halal', 'Chicken', ' W...
5    Index([' BBQ', ' Family Meals', 'Appetizers', ...
6    Index([' Asian', ' Noodles', ' Asian Fusion', ...
dtype: object

'fig = plt.figure(figsize=(10, 7))\nax = fig.add_subplot(111, projection=\'3d\')\nscatter = ax.scatter(df_pca[:, 0], df_pca[:, 1], df_pca[:, 2], c=clusters, cmap=\'viridis\', s=50, alpha=0.7, edgecolors=\'k\')\nfig.colorbar(scatter, label="Cluster Labels")\nax.set_xlabel("PCA Component 1")\nax.set_ylabel("PCA Component 2")\nax.set_zlabel("PCA Component 3")\nax.set_title("3D Clusters of Food Preferences")\nplt.show()'

In [7]:
def recommend_restaurants(input_categories, cluster_summary, df_with_categories, n=5):
    # Normalize column names for case-insensitive matching
    category_map = {col.lower(): col for col in cluster_summary.columns}

    # Map input categories to their actual case-sensitive names in the data
    valid_categories = []
    ignored_categories = []

    for cat in input_categories:
        key = cat.lower()
        if key in category_map:
            valid_categories.append(category_map[key])
        else:
            ignored_categories.append(cat)

    if not valid_categories:
        print(f"No matching categories found for: {input_categories}")
        return pd.DataFrame()

    if ignored_categories:
        print(f"Ignored categories (not found): {ignored_categories}")

    # Score clusters
    cluster_scores = cluster_summary[valid_categories].sum(axis=1)
    top_clusters = cluster_scores.sort_values(ascending=False).index.tolist()

    # Recommend from top clusters
    recommendations = []
    for cluster in top_clusters:
        cluster_data = df_with_categories[df_with_categories['cluster'] == cluster]
        match_filter = cluster_data[valid_categories].sum(axis=1) > 0
        filtered = cluster_data[match_filter]
        recommendations.append(filtered)
        if len(pd.concat(recommendations)) >= n:
            break

    return pd.concat(recommendations).head(n)
recommend = ['african']
print(recommend_restaurants(recommend, cluster_summary, df_with_categories, n=50))

                                                    name  score  ratings  \
1106                              Alem Ethiopian Village    4.8     67.0
3549                                     Dijah's Kitchen    5.0     27.0
5358                      Sengatera Ethiopian Restaurant    4.3     49.0
5359                                        Enat Kitchen    4.8     25.0
5660                         Galos Flame Grilled Chicken    4.4     19.0
6362                                  Massawa restaurant    4.6     43.0
6363                      Blue Nile Ethiopian Restaurant    4.4     79.0
9368           Nyame Ye African and Caribbean Restaurant    4.5    129.0
9369                           Rahama African Restaurant    4.2    138.0
10397                                        BETHEL CAFE    4.6     30.0
10398           Appioo African Bar &amp; Grill (Cardozo)    4.3     16.0
10400                    Swahili Village - The Consulate    4.5    118.0
10401                         Bukom Cafe  (Adams Morgan)    4.4     87.0
10403                       ZeMeda Market and Restaurant    4.6     38.0
10404                                  Enjera Restaurant    4.7    131.0
10592             Hamilton Liquors (5205 Georgia Ave NW)    4.9    500.0
12997                                            Jew-Fro    4.7     14.0
12998                                            Mama Js    4.5    122.0
14186                                 Yendidi Restaurant    4.4     12.0
14585                      ingera rock ethiopian cuisine    4.8     24.0
14632  Magruder's Discount Liquors (5626 Connecticut ...    4.9    171.0
15790                                          Safari DC    4.6     27.0
15791             Zion Kitchen Lounge &amp; Cafe (NE DC)    4.5    217.0
15793                       Enebla Restaurant and Market    4.7     42.0
16069                                    Kismayo Kitchen    4.9    113.0
18467                                              Niore    3.9     11.0
18468                               Chops Kitchen At 108    4.8     31.0
18469                         Fusion Vibes Kitchen + Bar    4.3    134.0
18470                            Abeba Ethiopian Kitchen    4.8     61.0
18472                                Aso Rock Restaurant    4.1    158.0
19509                                         Lagos Buka    3.8     47.0
25704                         Elyon African Food Kitchen    4.5     40.0
26603                                 All African market    4.2     25.0
26626                           Afrika Fusion Restaurant    4.6     77.0
26771                                          Boxochops    4.9     27.0
28794                       Chefbenny african restaurant    3.8     15.0
28795                           Fingerlicking restaurant    4.5     91.0
28796                                    Calabar Cuisine    3.9     18.0
28797                           Chez Michelle Restaurant    4.9     15.0
28799                    KOMCHOP RESTAURANT (Westheimer)    4.6    166.0
28800                             BABA JOLLOF RESTAURANT    4.4     94.0
28801                      Wazobia Kitchen (Beechnut St)    4.7    164.0
28802                            Unique African Cuisine     4.3     16.0
28803      Fabaceae African Cuisine (5832 Fairdale Lane)    4.2     82.0
28804                                         Cafe Abuja    4.7    168.0
28812                                  Aria Suya Kitchen    4.6    116.0
29551                              Alief African Kitchen    4.1     13.0
29552                                   Jollof Rice King    4.7     52.0
30220                         African Village Restaurant    4.2     50.0
30692                                  B’s Naija Kitchen    4.6     65.0

                                            full_address        lat  \
1106           307 E Wisconsin Ave, Milwaukee, WI, 53202  43.038465
3549                  16108 Ash Way, Lynnwood, WA, 98087  47.852990
5358   3833 Northeast Martin Luther King Junior Boule...  45.550690
5359         300 N Killingsworth St, Portland, OR, 97217  45.562580
5660   3556 Market Street Unit 111, University Place,...  47.226360
6362                  4411 S Mead St, Seattle, WA, 98118  47.550372
6363       7821 Rainier Avenue South, Seattle, WA, 98118  47.531930
9368       8640a Richmond Highway, Alexandria, VA, 22309  38.724454
9369   8738 Richmond Hwy, Alexandria, USA, Lee, VA, 2...  38.722254
10397           3045 Columbia Pike, Arlington, VA, 22204  38.862510
10398              1924 9th St NW, Washington, DC, 20001  38.916300
10400     1990 M Street Northwest, Washington, DC, 20036  38.905700
10401             2442 18th St NW, Washington, DC, 20009  38.921768
10403  512 South Van Dorn Street, B, Alexandria, VA, ...  38.806050
10404                549 23rd St S, Arlington, VA, 22202  38.853522
10592         5205 Georgia Ave NW, Washington, DC, 20011  38.953170
12997     1721 East Franklin Street, Richmond, VA, 23223  37.533770
12998                  415 N 1st St, Richmond, VA, 23219  37.546460
14186      5800 Chesapeake Boulevard, Norfolk, VA, 23513  36.885900
14585         825 Hungerford Drive, Rockville, MD, 20850  39.095200
14632  Magruder's discount liquors 5626 Connecticut A...  38.965595
15790         4306 Georgia Ave NW, Washington, DC, 20011  38.943210
15791         1805 Montana Ave NE, Washington, DC, 20002  38.919456
15793      7849 Eastern Ave NW, Silver Spring, MD, 20910  38.985727
16069           505 Riverside Ave, Burlington, VT, 05401  44.489051
18467  2380 North Central Expressway #3, Plano, TX, 7...  33.030080
18468          108 West State Street, Garland, TX, 75040  32.913124
18469    100 S Central Expressway, Richardson, TX, 75080  32.949180
18470            9560 Skillman Street, Dallas, TX, 75243  32.906649
18472  9220 Skillman Street, Suite 115, Dallas, TX, 7...  32.902180
19509            6060 Montgomery, San Antonio, TX, 78239  29.510800
25704  5137 Farm to Market 1960 Rd W, Houston, TX, 77069  29.982174
26603  7447 Hillcrest Road, Suite 104, Frisco, TX, 75035  33.139819
26626                           18900, Dallas, TX, 75287  33.006819
26771          8500 Ohio Drive STE 200, Plano, TX, 75024  33.093220
28794         10010 Bissonnet Street, Houston, TX, 77036  29.675183
28795          9817 Bissonnet Street, Houston, TX, 77036  29.674460
28796          13505 Westheimer Road, Houston, TX, 77077  29.735124
28797                 6991 S Texas 6, Houston, TX, 77083  29.701841
28799       14144 Westheimer Rd, 120, Houston, TX, 77077  29.736446
28800           8330 W Bellfort Blvd, Houston, TX, 77071  29.656171
28801              10828 Beechnut St, Houston, TX, 77072  29.689180
28802            6101 Wilcrest Drive, Houston, TX, 77072  29.714550
28803             5832 Fairdale Lane, Houston, TX, 77057  29.733400
28804      15015 Westheimer Rd Ste C, Houston, TX, 77082  29.734250
28812             6357 Westheimer Rd, Houston, TX, 77057  29.737194
29551       9755 South Kirkwood Road, Houston, TX, 77099  29.673380
29552             3833 Richmond Ave., Houston, TX, 77027  29.732257
30220             3003 N Belt Line Rd, Dallas, TX, 75062  32.847918
30692      3530 Scott Street, Unit B, Houston, TX, 77004  29.723950

              lng  score  ratings        lat         lng  ...  bookstore  \
1106   -87.907383    4.8     67.0  43.038465  -87.907383  ...          0
3549  -122.259720    5.0     27.0  47.852990 -122.259720  ...          0
5358  -122.661736    4.3     49.0  45.550690 -122.661736  ...          0
5359  -122.669700    4.8     25.0  45.562580 -122.669700  ...          0
5660  -122.536610    4.4     19.0  47.226360 -122.536610  ...          0
6362  -122.277363    4.6     43.0  47.550372 -122.277363  ...          0
6363  -122.270420    4.4     79.0  47.531930 -122.270420  ...          0
9368   -77.121008    4.5    129.0  38.724454  -77.121008  ...          0
9369   -77.125052    4.2    138.0  38.722254  -77.125052  ...          0
10397  -77.088920    4.6     30.0  38.862510  -77.088920  ...          0
10398  -77.024190    4.3     16.0  38.916300  -77.024190  ...          0
10400  -77.044560    4.5    118.0  38.905700  -77.044560  ...          0
10401  -77.042693    4.4     87.0  38.921768  -77.042693  ...          0
10403  -77.133394    4.6     38.0  38.806050  -77.133394  ...          0
10404  -77.054787    4.7    131.0  38.853522  -77.054787  ...          0
10592  -77.027290    4.9    500.0  38.953170  -77.027290  ...          0
12997  -77.427020    4.7     14.0  37.533770  -77.427020  ...          0
12998  -77.439570    4.5    122.0  37.546460  -77.439570  ...          0
14186  -76.243810    4.4     12.0  36.885900  -76.243810  ...          0
14585  -77.152880    4.8     24.0  39.095200  -77.152880  ...          0
14632  -77.076285    4.9    171.0  38.965595  -77.076285  ...          0
15790  -77.026170    4.6     27.0  38.943210  -77.026170  ...          0
15791  -76.978995    4.5    217.0  38.919456  -76.978995  ...          0
15793  -77.027763    4.7     42.0  38.985727  -77.027763  ...          0
16069  -73.202026    4.9    113.0  44.489051  -73.202026  ...          0
18467  -96.707470    3.9     11.0  33.030080  -96.707470  ...          0
18468  -96.631559    4.8     31.0  32.913124  -96.631559  ...          0
18469  -96.736479    4.3    134.0  32.949180  -96.736479  ...          0
18470  -96.709519    4.8     61.0  32.906649  -96.709519  ...          0
18472  -96.714290    4.1    158.0  32.902180  -96.714290  ...          0
19509  -98.368810    3.8     47.0  29.510800  -98.368810  ...          0
25704  -95.507506    4.5     40.0  29.982174  -95.507506  ...          0
26603  -96.785035    4.2     25.0  33.139819  -96.785035  ...          0
26626  -96.828008    4.6     77.0  33.006819  -96.828008  ...          0
26771  -96.796580    4.9     27.0  33.093220  -96.796580  ...          0
28794  -95.555181    3.8     15.0  29.675183  -95.555181  ...          0
28795  -95.552060    4.5     91.0  29.674460  -95.552060  ...          0
28796  -95.628412    3.9     18.0  29.735124  -95.628412  ...          0
28797  -95.642158    4.9     15.0  29.701841  -95.642158  ...          0
28799  -95.638968    4.6    166.0  29.736446  -95.638968  ...          0
28800  -95.524146    4.4     94.0  29.656171  -95.524146  ...          0
28801  -95.569292    4.7    164.0  29.689180  -95.569292  ...          0
28802  -95.570990    4.3     16.0  29.714550  -95.570990  ...          0
28803  -95.482080    4.2     82.0  29.733400  -95.482080  ...          0
28804  -95.651033    4.7    168.0  29.734250  -95.651033  ...          0
28812  -95.496232    4.6    116.0  29.737194  -95.496232  ...          0
29551  -95.586740    4.1     13.0  29.673380  -95.586740  ...          0
29552  -95.439557    4.7     52.0  29.732257  -95.439557  ...          0
30220  -96.993676    4.2     50.0  32.847918  -96.993676  ...          0
30692  -95.351140    4.6     65.0  29.723950  -95.351140  ...          0

       burger  chocolatier  florist  nan  pasta  pet supplies  pizza  wings  \
1106        0            0        0    0      0             0      0      0
3549        0            0        0    0      0             0      0      0
5358        0            0        0    0      0             0      0      0
5359        0            0        0    0      0             0      0      0
5660        0            0        0    0      0             0      0      0
6362        0            0        0    0      0             0      0      0
6363        0            0        0    0      0             0      0      0
9368        0            0        0    0      0             0      0      0
9369        0            0        0    0      0             0      0      0
10397       0            0        0    0      0             0      0      0
10398       0            0        0    0      0             0      0      0
10400       0            0        0    0      0             0      0      0
10401       0            0        0    0      0             0      0      0
10403       0            0        0    0      0             0      0      0
10404       0            0        0    0      0             0      0      0
10592       0            0        0    0      0             0      0      0
12997       0            0        0    0      0             0      0      0
12998       0            0        0    0      0             0      0      0
14186       0            0        0    0      0             0      0      0
14585       0            0        0    0      0             0      0      0
14632       0            0        0    0      0             0      0      0
15790       0            0        0    0      0             0      0      0
15791       0            0        0    0      0             0      0      0
15793       0            0        0    0      0             0      0      0
16069       0            0        0    0      0             0      0      0
18467       0            0        0    0      0             0      0      0
18468       0            0        0    0      0             0      0      0
18469       0            0        0    0      0             0      0      0
18470       0            0        0    0      0             0      0      0
18472       0            0        0    0      0             0      0      0
19509       0            0        0    0      0             0      0      0
25704       0            0        0    0      0             0      0      0
26603       0            0        0    0      0             0      0      0
26626       0            0        0    0      0             0      0      0
26771       0            0        0    0      0             0      0      0
28794       0            0        0    0      0             0      0      0
28795       0            0        0    0      0             0      0      0
28796       0            0        0    0      0             0      0      0
28797       0            0        0    0      0             0      0      0
28799       0            0        0    0      0             0      0      0
28800       0            0        0    0      0             0      0      0
28801       0            0        0    0      0             0      0      0
28802       0            0        0    0      0             0      0      0
28803       0            0        0    0      0             0      0      0
28804       0            0        0    0      0             0      0      0
28812       0            0        0    0      0             0      0      0
29551       0            0        0    0      0             0      0      0
29552       0            0        0    0      0             0      0      0
30220       0            0        0    0      0             0      0      0
30692       0            0        0    0      0             0      0      0

       cluster
1106         2
3549         2
5358         2
5359         2
5660         2
6362         2
6363         2
9368         2
9369         2
10397        2
10398        2
10400        2
10401        2
10403        2
10404        2
10592        2
12997        2
12998        2
14186        2
14585        2
14632        2
15790        2
15791        2
15793        2
16069        2
18467        2
18468        2
18469        2
18470        2
18472        2
19509        2
25704        2
26603        2
26626        2
26771        2
28794        2
28795        2
28796        2
28797        2
28799        2
28800        2
28801        2
28802        2
28803        2
28804        2
28812        2
29551        2
29552        2
30220        2
30692        2

[50 rows x 616 columns]

35238 386